@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #FBF8CC;
    height: 100vh;
    color: #03045E;
}

body .header{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    height: 5vh;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
}
body .header .logo{
    width: 200px;
    clear:both;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 50px;
}

body .header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    
}

body .header .nav span{
    margin-right: 20px;
    text-transform: capitalize;
    text-shadow: 2px 5px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}
body .header .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

body .header .icon i{
    display: flex;
    padding: 10px;
}